{% load staticfiles %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html>
<head lang="en">
    {% bootstrap_css %}
    {% bootstrap_javascript jquery=1 %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "ratings/style.css" %}"/>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <img class = "navbar-brand" src={% static "clapper2.png" %}>
            <a class="navbar-brand" href="{% url 'index' %}">Movie Ratings</a>
        </div>
        <ul class="nav navbar-nav navbar-left">
            <li><a href="{% url "rate_freq_list" %}">Most Ratings</a></li>
            <li><a href="{% url "show_genres" %}">Genres</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            {% if request.user.is_authenticated %}
                <li>
                    <a href="{% url 'show_user' request.user.rater.id %}">{{ request.user.username }}</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url "login" %}?next={{ request.path }}">Login</a>
                </li>
                <li>
                    <a href="{% url "user_register" %}">Register</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
<div class="container">
    {% bootstrap_messages %}
    <header>
    </header>
    {% block content %}
    {% endblock %}

</div>

</body>
<footer>
</footer>
</html>