<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
        body {background-color:cyan}
        a:visited {color: blue}
        table { box-shadow: 3px 3px 3px #999 }
        footer { padding-top: 20px }
        header {font-family: fantasy}
    </style>

    {% if request.user.is_authenticated %}
            <p>User {{ request.user.get_username }}</p>
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'login' %}?next={{ request.path }}" style="text-decoration:none">Login</a> |
            <a href="{% url 'user_register' %}?next={{ request.path }}" style="text-decoration:none">Register</a>
    {% endif %}


</head>
<body>
<div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        Important:
                    {% endif %}
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
<header>
    <h1 align="center"><a href="{% url 'index' %}">Movie Ratings</a></h1>
</header>
{% block content %}
{% endblock %}
<footer align="center">
    <strong>Created from the MovieLens 1 million ratings dataset</strong>
</footer>
</body>
</html>