{% extends "ratings/base.html" %}
{% load staticfiles %}
{% block content %}
{% load bootstrap3 %}

    <h2>Top Movies in {{ header }}</h2>

    <div align="center">

        <table class="table table-hover">
            <th>Movie</th>
            <th>Average Rating</th>
            {% if request.user.is_authenticated %}
                <th>Seen</th>
                <tbody>
                {% for mov in top_genre %}
                    <tr>
                        <td class="movie-entry"><a href="{% url 'show_movie' mov.id %}">{{ mov.title }}</a></td>
                        <td>{{ mov.avg_rating|floatformat:"2" }}</td>
                        {% if mov.id in user_ratings %}
                            <td><img src={% static "Check_mark.png" %}/></td>
                        {% else %}
                            <td><a href="{% url 'show_movie' mov.id %}">Check It Out</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            {% else %}
                {% for mov in top_genre %}
                    <tr>
                        <td class="movie-entry"><a href="{% url 'show_movie' mov.id %}">{{ mov.title }}</a></td>
                        <td>{{ mov.avg_rating|floatformat:"2" }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>

    </div>

{% bootstrap_pagination page_obj %}
{% endblock %}