{% extends "ratings/base.html" %}

{% block content %}
    <h2 align="center" style="color: coral">{{ movie.title }}</h2>

        <div align="center">
            <h4>Average Rating: {{ average|floatformat:"2" }}</h4>
            <table border="1" bgcolor="#fffacd">
                <th>User</th>
                <th>Rating</th>
                {% for tup in ratings %}
                <tr>
                    <td><a href="{% url 'show_user' tup.1.id %}">{{ tup.1 }}</a></td>
                    <td>{{ tup.0 }}</td>
                </tr>
                {% endfor %}
            </table>

        </div>

{% endblock %}