{% extends "ratings/base.html" %}

{% block content %}
    <h2 align="center" style="color: coral">User {{ user }}</h2>

        <div align="center">
            <p>
                Username: {{ username }}<br />
                Age: {{ age }}<br />
                Gender: {{ gender }}<br />
                Zip Code: {{ zipcode }}
            </p>
            <table border="1" bgcolor="#fffacd">
                <th>Movie</th>
                <th>Rating</th>
                {% for tup in ratings %}
                <tr>
                    <td><a href="{% url 'show_movie' tup.1.id %}">{{ tup.1.title }}</a></td>
                    <td>{{ tup.0 }}</td>
                </tr>
                {% endfor %}
            </table>

        </div>

{% endblock %}