{% extends "ratings/base.html" %}

{% block content %}
    <h2 align="center" style="color: coral">User {{ user }}</h2>

        <div align="center">
            <p>
                Username: {{ username }}<br />
                Age: {{ age }}<br />
                Gender: {{ gender }}<br />
                Zip Code: {{ zipcode }}<br />
                Average Rating: {{ average|floatformat:"2" }}
            </p>

            {% if average > 0 %}
                <table border="1" bgcolor="#fffacd">
                    <th>Movie</th>
                    <th>Rating</th>
                    {% if request.user.is_authenticated %}
                        <th>Action</th>
                    {% endif %}
                    {% for tup in ratings %}
                    <tr>
                        <td><a href="{% url 'show_movie' tup.1.id %}">{{ tup.1.title }}</a></td>
                        <td><a href="{% url 'show_rating' tup.2.id %}">{{ tup.0 }}</a></td>
                        {% if request.user.is_authenticated %}
                            <td><a href="{% url 'rate_movie' tup.1.id %}">Edit | </a><a href="{% url 'delete_rating' tup.2.id %}?next={{request.path}}">Delete</a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
            {% endif %}

        </div>

{% endblock %}