{% extends "ratings/base.html" %}

{% block content %}
    <h2>{{ movie.title }}</h2>
    <h3 align="center">Genres: {% for genre in movie.get_genres %}
                                {{ genre }} |
                                {% endfor %}
    </h3>

        <div align="center">
            <h4>{{ rating.userid }} rated this: {{ rating.rating }}</h4>
            <h4>{{ rating.userid }}'s Review:</h4>
            <p>{{ rating.review }}</p>
            {% if request.user.is_authenticated %}
                {% if rate %}
                    <a href="{% url 'rate_movie' movie.id %}">Rate This Movie</a>
                {% else %}
                    <p>You rated this movie: {{ user_rating.rating }}</p>
                    <a href="{% url 'update_rate' movie.id %}">Change Your Rating</a>
                {% endif %}
            {% endif %}
        </div>

{% endblock %}