{% extends "ratings/base.html" %}

{% block content %}
    <h2>{{ user.user.username }}</h2>

        <div align="center">
            <p>
                Age: {{ user.age }}<br />
                Gender: {{ user.gender }}<br />
                Zip Code: {{ user.zipcode }}<br />
                Average Rating: {{ user.get_average_rating|floatformat:"2" }}
            </p>

            {% if user.get_average_rating > 0 %}
                <table class="table table-hover">
                    <th>Movie</th>
                    <th>Rating</th>
                    {% if user == request.user.rater %}
                        <th>Action</th>
                    {% endif %}
                    <tbody>
                    {% for tup in ratings %}
                    <tr>
                        <td class="movie-entry"><a href="{% url 'show_movie' tup.0.id %}">{{ tup.0.title }}</a></td>
                        <td><a href="{% url 'show_rating' tup.1.id %}">{{ tup.1.rating }}</a></td>
                        {% if user == request.user.rater %}
                            <td><a href="{% url 'rate_movie' tup.0.id %}">Edit | </a><a href="{% url 'delete_rating' tup.1.id %}?next={{request.path}}">Delete</a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}

        </div>

{% endblock %}